<aside class="main-sidebar">
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->      
      <li><a href="/admin/sales/index"><i class="fa fa-link"></i> <span>Sales</span></a></li>             
      </li>

      <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/admin/dashboards/index"><i class="fa fa-circle-o"></i> Top-10 best selling books</a></li>
            <li><a href="/admin/dashboards/index2.html"><i class="fa fa-circle-o"></i> Top-10 authors</a></li>
            <li><a href="/admin/dashboards/index3.html"><i class="fa fa-circle-o"></i> Sales amount per month</a></li>
            <li><a href="/admin/dashboards/index4.html"><i class="fa fa-circle-o"></i> Sales amount per year</a></li>
          </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>